<!DOCTYPE html>
<html>
<head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z3CLNJ9HEE"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', 'G-Z3CLNJ9HEE');
        </script>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="stylesheet" href="/static/admin.css">

    <title>Admin Page</title>
    <!-- <script>
        setTimeout(function() {
            location.reload();
        }, 30000); -->
    </script>
</head>
<body>
    <nav class="nav">
        <a href="/" class="nav__brand">
            <img src="/static/fileBhejo.jpg" alt="FileBhejo Logo">
        </a>
        <!-- Put your collapsing content in here -->
        <div class="nav__collapsable">
            <div class="nav__cta">
                <a href="/login" class="cta">Logout</a>
            </div>
        </div>
    </nav>

    <div class="qr-code-container">
        <div class="banner">
            <h1>FileBhejo | Admin Panel</h1>
            <h2>Your Mobile Number/Id : {{ current_user }}</h2>
            <h2 class="upload-message">Scan the QR code to upload files</h2>
        </div>

        <div class="acces-button">
            <!-- Add the URL for the QR code image here -->
            <a href="{{ url_for('upload_file', username=current_user) }}">
                <img src="{{ admin_qrcode }}" alt="QR Code" class="qr-code">
            </a>
            <br>
            <div class="btn-primary mybtn">
            <a href="{{ url_for('admin_upload_file', username=current_user) }}" class="upload-button">Click to Upload</a>
            <a href="{{ url_for('download_qr_code', username=current_user) }}" class="download-button">Download QR Code</a>
        </div>
        </div>
    </div>
    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}
    <table>
        <tr>
            <th>File Name</th>
            <th>Timestamp</th>
            <th>File Type</th>
            <th>Actions</th>
        </tr>
        {% for file, timestamp, file_type in file_info %}
            <tr>
                <td><a href="{{ url_for('download_file', filename=file) }}">{{ file }}</a></td>
                <td>{{ timestamp }}</td>
                <td>{{ file_type }}</td>
                <td>
                    <a href="{{ url_for('download_file', filename=file) }}" class="button download">Download</a>
                    <a href="{{ url_for('delete_file', filename=file) }}" class="button">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    
</body>
</html>