<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z3CLNJ9HEE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Z3CLNJ9HEE');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileBhejo - QR Code Based File Sharing System</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/UT_LOGO.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/UT_LOGO.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/UT_LOGO.jpg">
    <link rel="manifest" href="/static/site.webmanifest">

</head>

<body>
    <nav class="nav">
        <img class="nav__collapser" src="https://raw.githubusercontent.com/JamminCoder/grid_navbar/master/menu.svg"
            alt="Collapse">
        <!-- <a href="/" class="nav__brand">FileBhejo</a> -->

        <a href="/" class="nav__brand">
            <img src="/static/fileBhejo.jpg" alt="FileBhejo Logo">
        </a>

        <!-- Put your collapsing content in here -->
        <div class="nav__collapsable">
            <div class="nav__cta">
                <a href="/login" class="cta">Log In</a>
                <a href="/register" class="cta cta--bold">Get Started</a>
            </div>
        </div>

    </nav>


    <div class="container">
        <div class="hero">
            <div class="hero-text">
                <h1>Share Files Seamlessly with QR Codes</h1>
                <p>Your innovative solution for secure and efficient file sharing and management.</p>
            </div>
            <div class="hero-image">
                <img src="/static/qrcode_chrome.png" alt="QR Code Image">
            </div>
        </div>

        <div class="buttons">
            <a href="/" class="button">Upload File</a>
            <a href="/register" class="button">Register for Free</a>
        </div>

        <h2>Key Features</h2>
        <ul class="feature-list">
            <div class="feature_card">
                <div class="feature_card_1">
                    <li>
                        <div class="feature-icon">&#x2713;</div>
                        <div class="feature-text">User Registration and Authentication</div>
                    </li>
                    <li>
                        <div class="feature-icon">&#x2713;</div>
                        <div class="feature-text">Efficient File Upload and Storage</div>
                    </li>
                    <li>
                        <div class="feature-icon">&#x2713;</div>
                        <div class="feature-text">QR Code Generation for Files and Folders</div>
                    </li>
                    <li>
                        <div class="feature-icon">&#x2713;</div>
                        <div class="feature-text">Instant File Access with QR Code Scanning</div>
                    </li>
                    <li>
                        <div class="feature-icon">&#x2713;</div>
                        <div class="feature-text">Access Control and Permissions</div>
                    </li>
                    <li>
                        <div class="feature-icon">&#x2713;</div>
                        <div class="feature-text">Free to Use</div>
                    </li>
                    <li>
                        <div class="feature-icon">&#x2713;</div>
                        <div class="feature-text">Automatic File Deletion after 1 Month</div>
                    </li>
                </div>

                <div class="feature_card_1">
                    <li>
                        <div class="feature-icon">&#x2713;</div>
                        <div class="feature-text">Seamless Mobile Integration</div>
                    </li>
                    <li>
                        <div class="feature-icon">&#x2713;</div>
                        <div class="feature-text">Intuitive User Interface</div>
                    </li>
                    <li>
                        <div class="feature-icon">&#x2713;</div>
                        <div class="feature-text">Secure Cloud-Based Environment</div>
                    </li>
                    <li>
                        <div class="feature-icon">&#x2713;</div>
                        <div class="feature-text">Efficient Sharing for Individuals and Businesses</div>
                    </li>
                    <li>
                        <div class="feature-icon">&#x2713;</div>
                        <div class="feature-text">Innovative QR Code Technology</div>
                    </li>
                    <li>
                        <div class="feature-icon">&#x2713;</div>
                        <div class="feature-text">Enhanced Data Privacy</div>
                    </li>
                    <li>
                        <div class="feature-icon">&#x2713;</div>
                        <div class="feature-text">User-Friendly Interface</div>
                    </li>
                    <li>
                        <div class="feature-icon">&#x2713;</div>
                        <div class="feature-text">Regular Updates and Support</div>
                    </li>
                </div>
            </div>
        </ul>

        <div class="about">
            <h2>About FileBhejo</h2>
            <p>
                FileBhejo is an innovative QR code based file sharing and management system that aims to revolutionize
                the way you share and manage your files. With a focus on security, efficiency, and user-friendliness,
                FileBhejo provides a seamless experience for individuals and businesses alike.
            </p>
            <p>
                Our platform allows you to securely upload, store, and manage your files in a cloud-based environment.
                The unique QR code integration enables you to share files with authorized users instantly, eliminating
                the need for complex procedures.
            </p>
            <p>
                Whether you're a professional looking for efficient document sharing or a student collaborating on
                projects, FileBhejo has you covered. Our commitment to user privacy and data security ensures that your
                files are in safe hands.
            </p>
        </div>

    </div>

    <div class="social-media">
        <a href="https://www.facebook.com/nitishkumar.sharma.378" class="social-icon"><img
                src="https://img.icons8.com/fluency/48/facebook-new.png" alt="Facebook"></a>
        <a href="https://www.instagram.com/kumar_nitish2/" class="social-icon"><img
                src="https://img.icons8.com/fluency/48/instagram-new.png" alt="Instagram"></a>
        <a href="https://www.linkedin.com/in/nitish-kumar-sharma-21801013b/" class="social-icon"><img
                src="https://img.icons8.com/fluency/48/linkedin.png" alt="linkedin"></a>
        <a href="https://wa.me/917631256855" target="_blank" class="social-icon"><img
                src="https://img.icons8.com/color/48/whatsapp--v1.png" alt="whatsApp"></a>

        <!-- Add more social media icons as needed -->
    </div>


    <footer>
        <p>&copy; 2023 Udian Tower | FileBhejo. All rights reserved. | Free to use. Uploaded files will be automatically
            deleted after
            1 month.</p>
    </footer>

    <script>
        const nav = document.querySelector(".nav");
        const navbarCollapser = document.querySelector(".nav__collapser");

        navbarCollapser.onclick = () => {
            nav.classList.toggle("nav--expanded");
        };
    </script>

</body>

</html>