<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z3CLNJ9HEE"></script>
  <meta name="google-site-verification" content="bfwg-6HptOECSW2CFIInK85QBi4YYTG-XlmdMwZIf9M" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/UT_LOGO.jpg">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/UT_LOGO.jpg">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/UT_LOGO.jpg">
  <title>User Registration</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2>User Registration</h2>

        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
        {% endif %}

        <form action="{{ url_for('register_user') }}" method="post">
          <div class="form-group">
            <label for="name">*Your Name/Shop Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>

          <div class="form-group">
            <label for="username">*Mobile Number:</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>

          <div class="form-group">
            <label for="password">*Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>

          <div class="form-group">
            <label for="role">Role:</label>
            <input type="text" class="form-control" id="role" name="role">
          </div>

          <button type="submit" class="btn btn-primary">Register</button>

          <p class="login-link">Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
        </form>
      </div>
    </div>
  </div>
</body>

</html>