<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z3CLNJ9HEE"></script>
  <meta name="google-site-verification" content="bfwg-6HptOECSW2CFIInK85QBi4YYTG-XlmdMwZIf9M" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/UT_LOGO.jpg">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/UT_LOGO.jpg">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/UT_LOGO.jpg">
  <title>Filebhejo - User Registration</title>
  <!-- Meta Tag for SEO -->
  <meta name="description"
    content="FileBhejo is a QR code-based file sharing and management system that simplifies and secures file sharing. Learn how to securely upload, store, and share files using QR codes." />
  <!-- <meta name="keywords" content="file sharing, file management, QR code, cloud-based storage, secure file sharing" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots"
    content="index, follow, register, upload_by_id, upload, login, how_to, admin, admin_upload, about">
  <meta name="keywords"
    content="share kar do, print kar do, photo copy, file bhejo, file sharing, file management, QR code, cloud-based storage, secure file sharing, QR code file sharing, file sharing system, file management platform, secure file storage, document sharing, data security, cloud file storage, digital file management, online file sharing, file storage solution, data privacy, QR code sharing, document management, file access control, efficient file sharing, file security, file upload, mobile file sharing, web-based file management, data protection, digital document management, document security, file collaboration, file access, online document storage, QR code security, document sharing platform" />

  <meta property="og:title" content="FileBhejo - QR Code-Based File Sharing and Management System" />
  <meta property="og:description"
    content="Simplify and secure file sharing with FileBhejo. Upload, store, and share files using QR codes." />
  <meta property="og:image" content="https://www.filebhejo.in/static/fileBhejo.jpg" />
  <meta property="og:url" content="https://www.filebhejo.in" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="FileBhejo - QR Code-Based File Sharing and Management System" />
  <meta name="twitter:description"
    content="Simplify and secure file sharing with FileBhejo. Upload, store, and share files using QR codes." />
  <meta name="twitter:image" content="https://www.filebhejo.in/static/fileBhejo.jpg" />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2>User Registration with file Bhejo</h2>

        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
        {% endif %}

        <form action="{{ url_for('register_user') }}" method="post">
          <div class="form-group">
            <label for="name">*Your Name/Shop Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>

          <div class="form-group">
            <label for="username">*Mobile Number:</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>

          <div class="form-group">
            <label for="password">*Set Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>

          <div class="form-group">
            <label for="role">User Type:</label>
            <select class="form-control" id="role" name="role">
              <option value="individual">Individual</option>
              <option value="business">Business</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Register</button>

          <p class="login-link">Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
        </form>
      </div>
    </div>
  </div>
  <p hidden>FileBhejo
    fileBhejo
    bhejoFile
    BhejoFile
    filebhejo
    bhejofile
    Filebhejo
    Bhejofile

    File Bhejo
    file Bhejo
    bhejo File
    Bhejo File
    file bhejo
    bhejo file
    File bhejo
    Bhejo file</p>

</body>

</html>