<!DOCTYPE html>
<html>
<head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z3CLNJ9HEE"></script>
        <meta name="google-site-verification" content="bfwg-6HptOECSW2CFIInK85QBi4YYTG-XlmdMwZIf9M" />
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', 'G-Z3CLNJ9HEE');
        </script>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/static/UT_LOGO.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/UT_LOGO.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/UT_LOGO.jpg">
    <link rel="manifest" href="/static/site.webmanifest">
    <title>FileBhejo - Unauthorized</title>
        <!-- Meta Tag for SEO -->
        <meta name="description"
        content="FileBhejo is a QR code-based file sharing and management system that simplifies and secures file sharing. Learn how to securely upload, store, and share files using QR codes." />
    <!-- <meta name="keywords" content="file sharing, file management, QR code, cloud-based storage, secure file sharing" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots"
        content="index, follow, register, upload_by_id, upload, login, how_to, admin, admin_upload, about">
    <meta name="keywords"
        content="share kar do, print kar do, photo copy, file bhejo, file sharing, file management, QR code, cloud-based storage, secure file sharing, QR code file sharing, file sharing system, file management platform, secure file storage, document sharing, data security, cloud file storage, digital file management, online file sharing, file storage solution, data privacy, QR code sharing, document management, file access control, efficient file sharing, file security, file upload, mobile file sharing, web-based file management, data protection, digital document management, document security, file collaboration, file access, online document storage, QR code security, document sharing platform" />

    <meta property="og:title" content="FileBhejo - QR Code-Based File Sharing and Management System" />
    <meta property="og:description"
        content="Simplify and secure file sharing with FileBhejo. Upload, store, and share files using QR codes." />
    <meta property="og:image" content="https://www.filebhejo.in/static/fileBhejo.jpg" />
    <meta property="og:url" content="https://www.filebhejo.in" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="FileBhejo - QR Code-Based File Sharing and Management System" />
    <meta name="twitter:description"
        content="Simplify and secure file sharing with FileBhejo. Upload, store, and share files using QR codes." />
    <meta name="twitter:image" content="https://www.filebhejo.in/static/fileBhejo.jpg" />

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        h1 {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Unauthorized</h1>
    <p>You are not authorized to access this page.</p>
</body>
</html>
