<!DOCTYPE html>
<html>
<head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z3CLNJ9HEE"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', 'G-Z3CLNJ9HEE');
        </script>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/static/UT_LOGO.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/UT_LOGO.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/UT_LOGO.jpg">
    <link rel="manifest" href="/static/site.webmanifest">
    <title>Unauthorized</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        h1 {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Unauthorized</h1>
    <p>You are not authorized to access this page.</p>
</body>
</html>
